@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,700,900&display=swap&subset=cyrillic-ext');

@import url('https://fonts.googleapis.com/css?family=Inter:800&display=swap&subset=cyrillic-ext');


@font-face {
	font-family: 'FREE FAT FONT';
	src: url('fonts/FREEFATFONT-Regular.eot');
	src: local('вє'), url('fonts/FREEFATFONT-Regular.woff') format('woff'), url('fonts/FREEFATFONT-Regular.ttf') format('truetype'), url('fonts/FREEFATFONT-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
